body {
    font-size: 16px; 
    font-family: 'Inter', glegoo;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/fondo.jpg); 
    background-repeat: repeat;
    background-attachment: fixed;
    color: black;
}

#contenedor-principal {
    max-width: 1100px;
    margin: 2rem auto;
    background-color: rgba(215, 221, 208, 0.9); 
    padding: 2rem;
    border: 1px solid #0b0c0c;
}

